#color-palette{
    height: 50px;
    width: 500px;
}
.black{
    background-color: black;
    width: 40px;
    height: 40px;
    display: inline-block;
    border: 1px solid black;
}
.red{
    background-color: red;
    width: 40px;
    height: 40px;
    display: inline-block;
    border: 1px solid black;
}
.blue{
    background-color: blue;
    width: 40px;
    height: 40px;
    display: inline-block;
    border: 1px solid black;
}
.green{
    background-color: green;
    width: 40px;
    height: 40px;
    display: inline-block;
    border: 1px solid black;
}
.white{
    background-color: white;
    display: inline-block;
    border: 1px solid black;
    margin-bottom: 10px;
}
#pixel-board{
    background-color: white;
}
.pixel{
    width: 40px;
    height: 40px;
    display: inline-block;
    background-color: white;
    border: 1px solid black;
}
.linhaTabela{
    height: 42px;
}
